html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
 	line-height: 24px;
 	color: #000000;
 	font-weight: 500;
 }

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
}

.navigation {
  font-size: 16px;
  line-height: 30px;	
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  margin-left: 210px;
}

.navigation-item {
	margin-left: 50px;
}

.basket {
  margin-left: auto;	
}

.basket-link {
position: relative;
padding-left: 40px;	
}

.basket-link:before {
  position: absolute;
  content: "";
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;	
  left: 5px;
  top: 0;
}

.page-header {
 background-color: #eeeeee;
}

.navigation-list,
.basket {
	list-style: none;
	
}

.inner-logo:hover {
	opacity: 0.8;
}

.inner-logo:active {
	opacity: 0.3;
}

.navigation-list a,
.basket a {
	color: #000000;
}

.navigation-list a:hover,
.basket a:hover,
.navigation-list a:focus,
.basket a:focus {
	color: #fb565a;
} 

.navigation-list a:active {
	color: #bdbdbd;
}

.basket a:active {
	color: #bdbdbd;
}

.active a {
	border-bottom: 2px solid red;
}

.development {
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;
  	border-bottom: 2px solid #eee;
}

.development-item {
  width: 300px;
  margin-right: 100px;
}

.presentation {
  margin-right: 0;
}

.order {
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	padding: 20px 40px;
}

.red {
	background-color: #fb565a;
}

.green {
	background-color: #00ca74;
}

.yellow {
	background-color: #efc84a;
}

.red:hover {
	background-color: #e74246;
}

.green:hover {
	background-color: #00bc6c;
}

.yellow:hover{
	background-color: #eab534;
}

.red:active {
	background-color: #d7373b;
	color: rgba(255, 255, 255, 0.3);
}

.green:active {
	background-color: #00aa62;
	color: rgba(255, 255, 255, 0.3);
}

.yellow:active {
	background-color: #e5a722;
	color: rgba(255, 255, 255, 0.3);
}

.social-block {
	display: flex;
	align-items: center;
}

.social-list {
	display: flex;
	list-style: none;

}

.friendship {
	margin-left: 140px;
}

.big-text {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
}

.normal-text {
	font-size: 16px;
	line-height: 22px;
}

/* Catalog */

.page-title {
	font-size: 55px;
	line-height: 55px;
	text-align: center;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
}

.wrap-catalog {
	display: flex;
	
}

.filter-group {
	border: none;
	width: 260px;
  	padding: 0;
}

.group-name {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
}

.grid-list,
.feautures-list {
	list-style: none;
	line-height: 20px;
}

.show {
	height: 50px;
	width: 260px;
	border: none;
	line-height: 18px;
	color: #000000;
	background-color: #eeeeee;
	font-weight: 700;
}

.show:hover {
	background-color: #dfdfdf;
}

.show:active {
	background-color: #dfdfdf;
	color: rgba(0, 0, 0, 0.3);
}

.catalog {
	width: 760px;
}

.catalog-list {
	list-style: none;
	padding-left: 0;
}

.catalog-item {
	width: 360px;
	margin-right: 40px;
}

.catalog-item:nth-child(2n) {
	margin: 0;
}

.catalog-item:hover {
	box-shadow: 0 2px 5px; 
}

